<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Consultation des cours d'un membre</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/css.css">
    </head>
    <body ng-app="app">
        <div>Consultation des cours d'un membre</div>
        <div>
            <table>
                <tr>
                    <th>Nom du cours</th>
                    <th>Niveau cible</th>
                    <th>Date début</th>
                    <th>Durée</th>
                    <th>Enseignant</th>
                    <th>Lieu</th>
                    <th>Participants</th>
                </tr>
                
                <tr ng-repeat="c in membre">
                    <td>{{c.nomCours}}</td>
                    <td>{{c.niveauCible}}</td>
                    <td>{{c.creneau.dateDebut}}</td>
                    <td>{{c.creneau.duree}}</td>
                    <td>{{c.enseignant}}</td>
                    <td>{{c.piscine}}</td>
                    <td>{{c.participants}}</td>
                </tr>

            </table>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/consultationController.js"></script>
    </body>
</html>
