<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Gestion profil membre</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/css.css">
    </head>
    <body ng-app="app">
        <div>Gestion du profil membre</div>
         <div>
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Mail</th>
                    <th>Pays</th>
                    <th>Ville</th>
                    <th>Login</th>
                    <th>Password</th>
                </tr>
                
                <tr>
                    <td>{{membre.nom}}</td>
                    <td>{{membre.prenom}}</td>
                    <td>{{membre.adresseMail}}</td>
                    <td>{{membre.adresse.pays}}</td>
                    <td>{{membre.adresse.ville}}</td>
                    <td>{{membre.login}}</td>
                    <td>{{membre.password}}</td>
                </tr>

            </table>
        <br/>
        <div>
            <label for="name">Nom :</label>
            <input ng-model="nom" value="{{membre.nom}}">
        </div>
        <div>
            <label for="prenom">Prénom :</label>
            <input ng-model="prenom" value="{{membre.prenom}}">
        </div>
        <div>
            <label for="mail">Adresse mail :</label>
            <input ng-model="adresseMail" value="{{membre.adresseMail}}">
        </div>
        <div>
            <label for="pays">Pays :</label>
            <input ng-model="pays" value="{{membre.adresse.pays}}">
        </div>
        <div>
            <label for="ville">Ville :</label>
            <input ng-model="ville" value="{{membre.adresse.ville}}">
        </div>
        <div>
            <label for="login">Login :</label>
            <input type="text" ng-model="login" value="{{membre.login}}">
        </div>
        <div>
            <label for="password">Password :</label>
            <input type="text" ng-model="password" value="{{membre.password}}">
        </div>
        <div>
            <button ng-click="modifier()">Valider modification</button>
        </div>
        
        
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/gestionProfilController.js"></script>
    </body>
</html>
