<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<html>
    <head>
        <title>Miage Plongee</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/css.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body ng-app = "app" id="page-top">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Miage Plongée</a>
              </div>
              <ul class="nav navbar-nav">
                  <li> 
                       <a href="/#!/connexion" >Login</a>
                  </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Membres<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/#!/listeMembres">Liste des membres</a></li>
                      <li><a href="/#!/gestionProfil">Gerer mon profil</a></li>
                      <li><a href="#">Payer cotisation</a></li>
                    </ul>
              </li>
              <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cours<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/#!/creationCours">Créer un cours</a></li>
                      <li><a href="#">Participer à un cours</a></li>
                      <li><a href="/#!/consultation">Consulter les cours</a></li>
                    </ul>
              </li>
                <li><a href="/#!/statistiques">Statistiques</a></li>
                <li><a href="/#!/piscines">Piscines</a></li>
              </ul>
            </div>
    </nav>
    
    <div ng-view></div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/deconnexionController.js"></script>
        <script src="../js/inscriptionController.js"></script>
        <script src="../js/listeMembresController.js"></script>
        <script src="../js/piscinesController.js"></script>
        <script src="../js/statistiquesController.js"></script>
        <script src="../js/connexionController.js"></script>
        <script src="../js/consultationController.js"></script>
        <script src="../js/gestionProfilController.js"></script>
        <script src="../js/creationCoursController.js"></script>
        <script src="../js/participerCoursController.js"></script>
    </body>
</html>

