<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Inscription</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/css.css">
    </head>
    <body ng-app = "app">
        <div>S'inscrire au groupe de plongée :</div>
        <br/>
        <form accept-charset="UTF-8" role="form">
                    <fieldset>
                         Nom : <input  ng-model="nom" name="nom" type="text">  <br/><br/>
                         Prénom : <input  ng-model="prenom" name="prenom" type="text">  <br/><br/>
                         Mail : <input  ng-model="mail" name="mail" type="text">  <br/><br/>
                         Login : <input  ng-model="login" name="login" type="text">  <br/><br/>
                         Password : <input  ng-model="password" name="password" type="password">  <br/><br/>
                         Date certificat :<input  ng-model="dateCertificat" name="dateCertificat" type="text">  <br/><br/>
                         Niveau d'expertise : <input  ng-model="niveau" name="niveau" type="text">  <br/><br/>
                         Numéro licence : <input  ng-model="numLicence" name="numLicence" type="text">  <br/><br/>
                         Pays : <input  ng-model="pays" name="Pays" type="text">  <br/><br/> 
                         Ville : <input  ng-model="ville" name="Ville" type="text">  <br/><br/>
                         Type membre (Membre/President/Secretaire/Enseignant):<input  ng-model="type" name="Type" type="text">  <br/><br/> 
                        <input  type="submit" value="S'inscrire" ng-click="inscription()">
                    </fieldset>
        </form>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/piscinesController.js"></script>
    </body>
</html>
