<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/css.css">
    </head>
    <body ng-app = "app">
        <div>Liste des membres</div>
        <br/>
        <div>
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Mail</th>
                    <th>Niveau d'expertise</th>
                    <th>Numéro de licence</th>
                    <th>Date paiement</th>
                    <th>Ville</th>
                    <th>Pays</th>
                </tr>
                
                <tr ng-repeat="m in content">
                    <td>{{m.nom}}</td>
                    <td>{{m.prenom}}</td>
                    <td>{{m.adresseMail}}</td>
                    <td>{{m.niveauExpertise}}</td>
                    <td>{{m.numLicence}}</td>
                    <td>{{m.apaye}}</td>
                    <td>{{m.adresse.ville}}</td>
                    <td>{{m.adresse.pays}}</td>
                </tr>

            </table>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/piscinesController.js"></script>
    </body>
</html>